@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Pracownicy w zespole @ViewBag.TeamId</h2>

@if (ViewBag.WorkersWithRoles != null && ViewBag.WorkersWithRoles.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Imię i nazwisko</th>
                <th>Rola w zespole</th>
                <th>Akcja</th> <!-- Nowa kolumna dla przycisku -->
            </tr>
        </thead>
        <tbody>
            @foreach (var worker in ViewBag.WorkersWithRoles)
            {
                <tr>
                    <td>@worker.WorkerName</td>
                    <td>@worker.RoleName</td>
                    <td>
                        <form asp-action="RemoveWorkerFromTeam" method="post">
                            <input type="hidden" name="TeamId" value="@ViewBag.TeamId" />
                            <input type="hidden" name="WorkerId" value="@worker.WorkerId" />
                            <button type="submit" class="btn btn-danger btn-sm">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    //TODO Dodanie kolejnego pracownika do tego zespołu!!!!
    
}
else
{
    <p>Brak przypisanych pracowników do tego zespołu.</p>
}
